/* font class  */
#donation-form{
  text-decoration: none;
  border: none;
}

.inter {
  font-family: "Inter", sans-serif;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

@media (max-width: 576px) {
  .hero-section {
    display: block;
  }

}